# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/

# Environment
.env
.env.*.local
.env.prod

# Vite
.vite/

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Mac/Linux/Windows
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Logs
logs/
*.log

# Optional: local dev/test assets
*.local.*